# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/artifacts
.idea/libraries
.idea/modules
.idea/dictionaries
.idea/gradle.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/workspace.xml
.idea/misc.xml
.idea/codeStyles/codeStyleConfig.xml
classes

# gradle
build
.gradle

eclipse
**/run/**
!**/run/.keep
