# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

eclipse
**/run/**
!**/run/.keep

# idea
out
*.ipr
*.iws
*.iml
.idea/artifacts
.idea/libraries
.idea/modules
.idea/dictionaries
.idea/codeStyles
.idea/.name
.idea/*.xml


classes

# gradle
build
.gradle

# gradle dependency replacement
libs/*
!libs/.keep

# server
server/*
!server/.keep